*{
    margin: 0;
    font-family: 'poppins';
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.backdrop{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, orange, red);
    background-size: cover;
    position: absolute;
}

.paras{
    position: absolute;
    margin-top: 50%;
    padding: 15px 17px;
}

.paras p{
    font-family: 'poppins',sans-serif;  
}

.myName{
    width: 320px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -25px;
    position: absolute;
    color: #fff;
}

/*    left: 50%;
    top: 50%;
    width: 400px;
    height: 540px;
    margin-left: -200px;
    margin-top: -270px; */